/* Add any css you want to use for you website here */

html, body {
	height:100%;
}

h1 {
	padding: 0px;
	
	margin-bottom: 0px;
	margin-top: 0px;
	background-color: #343A40;
}

h2 {
	margin-left: 100px;
}

.navbar {
	
	margin-bottom: 0px;
	margin-top: 0px;
	padding: 10px;
	background-color: #343A40;
}

.button {
	margin: 0px;
	width:150px;
	align-items: center;
	padding: 5px;
	position: absolute;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%,0);

}

#class1TableMain {
	width: 1200px;
	margin-left: 100px;
}

#class2TableMain {
	width: 1200px;
	margin-left: 100px;
}

#class3TableMain {
	width: 1200px;
	margin-left: 100px;
}

#class4TableMain {
	width: 1200px;
	margin-left: 100px;
}

#tablesMain {
	margin-left: 400px;
}

.row {
	padding-left: 0px;
}

.container {
	margin-top: 8px;
	margin-left: 5px;
}

#toDoRow {
	font-size: 30px;
	text-align: center;
}
